<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebApiAdress" value="B85F4C911DDBACB098C5B14D83B68B85FAC8B54FA58382136B9699D66B68D572" />
    <add key="ImageServerAdress" value="1E5C8507383A95BCAB18904B499FEEF2DEA4FCB444E16D3A" />
    <add key="SourceServerAdress" value="389CEF8DD5975A22CCD65753ADE1D6B0DD0CA8E47DCE3B78" />
    <add key="SourceUserName" value="28A3B035C7A2450B" />
    <add key="SourcePwd" value="DBAEF15341432684015585810E121C45" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>